<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Layout</title>
    <link rel="stylesheet" href="newsstyle.css" />
  </head>
  <body>
    <div class="header">
        <h2>
            News Layout
        </h2>
    </div>

    <div class="news-container">
      <div class="article">
        <img src="./png/bn.png" alt="News image" />
        <h2>Breaking News</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam numquam
          est voluptatum molestias. Totam, non minima aliquid delectus officia
          id tempore recusandae corporis eos neque facere at dicta repellendus.
          Inventore?
        </p>
      </div>

      <div class="article">
        <img src="./png/bn2.png" alt="News image" />
        <h2>World Update</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic
          assumenda natus magni totam, magnam odio harum impedit repellat
          doloribus. Facilis nostrum molestias modi amet cum voluptatum eaque
          temporibus quis veniam.
        </p>
      </div>

      <div class="article">
        <img src="./png/bn3.png" alt="News image" />
        <h2>Sports News</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis illum
          quaerat ducimus reprehenderit corrupti omnis incidunt, obcaecati fugit
          dolores iure! Deserunt omnis quia aut repellendus optio officiis
          beatae provident quos.
        </p>
      </div>
    </div>
  </body>
</html>
