body {
    background-color: lightblue;
}

.header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.news-container {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    margin: 20px auto;
}

.article {
    background-color: lightcyan;
    padding: 1rem;
    border: 1px solid;
}

.article img {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.article h2 {
    margin: 1rem;
}

.news-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    max-width: 500px;   /* card width */
    margin: 40px auto;
}
